<!doctype html>
<title>DFA Charged Questions</title>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>
</head>
<!--<link rel=javascript type=text/js href="{{url_for('static', filename='scroll.js') }}">-->
<!--<script type="text/javascript" src="scroll.js"></script> -->
<!--
<div class=responses>
  <ul>
    {% for resp in responses %}
      <div class=response_block>
        <li>Name: {{ resp.name }}</li>
        <li>Text: {{ resp.text }}</li> 
        <li>Time: {{ resp.time }}</li>
        <li>{{ resp.text }}</li> 
      <div>  
    {% endfor %}
  </ul>
  {% block body %}{% endblock %}
</div>
-->
<body onLoad="pageScroll()">
<div class =responses>
  {% for resp in responses %}
    <p class="response_text">{{ resp.text }}</p>
    <svg class="divider_rect" width="350" height="80">
  	  <rect width="350" height="13" style="fill:black;" />
	</svg>
  {% endfor %}
</div>

<!--INDEX -->

<div class="posts">
  <div class="post">
    <h1 class="post-title">
    </h1>
  </div>
</div>

<!--sidebar !-->
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          What fundamental assumption about the world do you think is wrong?
      </h1>
      <div align ="right">
        <svg class="divider_rect" width="250" height="80">
  	      <rect width="250" height="13" style="fill:rgb(255,255,255);" />
	    </svg>
	  </div> 
      <p class="lead">Go to the link below on you phone or laptop to join the conversation!</p>
      <div class="resp-button">
	    <a href ="#" class="button">goo.gl/forms/g9RyXS0Yti</a>
	  </div>
	  <div class="DFA">
	    <p>DFA x Coffeehouse </p>
	  </div> 
    </div>
  </div>
</div>
